body{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 400px;
    background-color: #E5E5E5;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 15px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    max-height: max-content;
}
.link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
    padding: 1vw 2vw;
    background-color: #E5E5E5;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border-radius: 37px;
    width: 80px;
    cursor: pointer;
}
.link:hover{
    background-color: #add8e6;
    color: #FFF;
    transition: background-color .3s ease-in-out;
}
.linkActive{
    background-color: #356EFF;
    color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0 0 24px 0;
}
@media(min-width: 720px) and (max-width: 1024px){
    .wrap{
        min-height: 400px;
    }
    .inner{
        width: 700px;
        padding-top: 20px;
    }
    .content{
        min-height: 450px;
    }

}
@media(min-width: 1024px){
    .inner{
        width: 700px;
        padding-top: 25px;
    }
    .nav{
        max-width: 320px;
        margin: 0 0 24px 0;
    }
    .link{
        font-size: 16px;
        width: 128px;
        outline: none;
    }
    .linkActive{
        color: #FFF;
        background: #356EFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    }

    .content{
        height: 80%;
        width: 100%;
        margin: 0 0 24px 0;
    }
}
