.item{
    color: #333;
    width:90%;
    font-size: 20px;
}
.done{
    color: darkgrey;
}
.wrap{
    min-height: 30px;
    display: flex;
    align-items: center;
}
.btn {
    cursor: pointer;
    color: darkgrey;

}
