.wrap{
    width: 90%;
    padding: 5px 10px;
    display: flex;
    border-radius: 15px;
    background-color: #d3d3d3;
    margin: 20px;
}

.text{
    margin: 0;
    font-size: 27px;
    font-weight: bold;
    color: #545454;
}